{% extends "classification/base.html" %}

{% block content %}

    <!-- Header -->
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <h1>About Page</h1>
          <p class="lead">This page provides more information about my research project from my Master thesis. More information follow soon ...</p>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="sponsor">
            <script async src="https://cdn.carbonads.com/carbon.js?serve=CKYIE23N&placement=bootswatchcom" id="_carbonads_js"></script>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Header -->

{% endblock content %}
